<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/results" method="get" class="p-2">
    <select class="custom-select my-2" name="source">
        {{#each lines}}
        <optgroup label="line">
            {{#each this}}
            {{ this }}
            <option>{{ this }}</option>
            {{/each}}
        </optgroup>
        {{/each}}
    </select>

    <select class="custom-select my-2" name="destination">
        {{#each lines}}
        <optgroup label="line">
            {{#each this}}
            {{ this }}
            <option>{{ this }}</option>
            {{/each}}
        </optgroup>
        {{/each}}
    </select>

    <button type="submit" class="btn btn-success">Search</button>

</form>